/*Query de cupones*/
.mdw__cupones_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;

  .elementor {
    & > .elementor-element {
      height: 100%;
    }

    &:hover {
      .elementor-widget-image {
        img {
          opacity: 1;
        }
      }
    }
  }
}

/*Single de cupones*/
.mdw__button_redimir-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .mdw__button_redimir {
    background-color: var(--e-global-color-primary);
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    transition: all .2s ease-in;

    &:hover {
      background-color: #FFCC00A1;
    }

    &:disabled {
      filter: grayscale(1);
      cursor: not-allowed;
    }
  }

  .mdw__message {
    font-weight: 600;

    .mdw__message_link:hover {
      color: var(--e-global-color-primary);
    }
  }
}